/Day 3 html Sprk
/Day 4 html Sprk
/Day 5 html Sprk
/Day 6 html Sprk
/Day 7 html Sprk
/Day 8 CSS Sprk
/Day 9 CSS Sprk
/Day 10 CSS Sprk
/Day 11 CSS Sprk
/Day 12 CSS Sprk
/Day 13 CSS Sprk
/Day 14 CSS Sprk
/Day 15 CSS Sprk
/Day 16 CSS Sprk
/Day 17 CSS Sprk
# /Day 18 CSS Sprk
/Day 19 CSS Sprk
/Day 20 CSS Sprk        
/Day 21 CSS Sprk
/CSS project
/CSS project 1
/practice
