*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    width: 200px;
    height: 200px;
    background-color: red;
    margin-right: 50px;
    display: inline-block;
}
.static{
    position: static;
    background-color: green;
}
.relative{
    position: relative;
    background-color: blue;
    bottom: 60px;
    left: 50px;
}
.absolute{
    position: absolute;
    background-color: yellow;
    top: 20px;
    right: 300px;
}
.fixed{
    position: fixed;
    background-color: pink;
    top: 20px;
    left: 400px;
}