*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outer{
    height: 100px;
    width : 200px;
    background-color: lightcoral;
    border-radius: 2px solid black ;
    /* display: none; */
}

h1 {
            display: inline;
            background-color: burlywood;
            width: 500px;
            height: 150px;
            padding: 50px;
            margin: 100px;
        }

        span {
            background-color: rgba(238, 130, 238, 0.418);
            width: 500px;
            height: 150px;
            padding: 50px;
            margin: 100px;
        }

        p {
            display: inline;
            background-color: tomato;
        }