@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* presets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
  min-height: 100vh;
  color: #fff;
  background-color: #1f2029;
  overflow-x: hidden;
}
/* Tags */

p {
  font-size: 16px;
}
/* Styling Radio Btn */
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  visibility: hidden;
  position: absolute;
  /* display: none; */
}

/* Classes Stylings */
.section-fluid-main {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: block;
}

.section {
  position: relative;
  max-width: calc(100% - 40px);
  width: 860px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0;
}

.section-fluid {
  width: 100%;
  display: block;
  position: relative;
}

.info-wrap {
  position: relative;
  margin-left: 500px;
  display: block;
}
.title-up {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.2;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

h2 {
  font-size: 34px;
  line-height: 1.2;
  margin-bottom: 10px;
  font-weight: 800;
}

h4 {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 30px;
}
h4 span {
  text-decoration: line-through;
  font-size: 20px;
  opacity: 0.6;
  margin-left: 15px;
}

h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 20px;
}

/* Description Button */
.desc-btn:checked + label,
.desc-btn:not(:checked) + label {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  line-height: 1.2;
  display: inline-block;
  margin-right: 25px;
  opacity: 0.5;
  transition: all 200ms linear;
}
.desc-btn:checked + label {
  opacity: 1;
}
.desc-btn:not(:checked) + label:hover {
  opacity: 0.8;
}

.desc-sec {
  padding-top: 20px;
  padding-bottom: 30px;
  opacity: 0;
  transition: all 250ms linear;
  transform: translateY(20px);
}
.desc-sec.accor-2 {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
}

#desc-1:checked ~ .accor-1 {
  opacity: 1;
  transform: translateY(0px);
}
#desc-2:checked ~ .accor-2 {
  opacity: 1;
  transform: translateY(0px);
}

/* .accor-2 {
  display: flex;
  gap: 20px;
} */
.section-inline {
  display: inline-block;
  margin-right: 20px;
}
.section-inline p span {
  font-size: 30px;
  line-height: 1.1;
}

/* Images for Color */
label.first-color {
  background-image: url("./images/color1.jpg");
}

.back-color {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(196deg, #f1a9a9, #e66767);
  transition: all 200ms linear;
  z-index: -2;
}
.back-color.chair-2 {
  background-image: linear-gradient(196deg, #4c4c4c, #262626);
  opacity: 0;
}
.for-color-2:checked ~ .back-color.chair-2 {
  opacity: 1;
  z-index: -1;
}
.back-color.chair-3 {
  background-image: linear-gradient(196deg, #8a9fb2, #5f7991);
  opacity: 0;
}
.for-color-3:checked ~ .back-color.chair-3 {
  opacity: 1;
  z-index: -1;
}
.back-color.chair-4 {
  background-image: linear-gradient(196deg, #97afc3, #6789a7);
  opacity: 0;
}
.for-color-4:checked ~ .back-color.chair-4 {
  opacity: 1;
  z-index: -1;
}
.back-color.chair-5 {
  background-image: linear-gradient(196deg, #afa6a0, #8c7f76);
  opacity: 0;
}
.for-color-5:checked ~ .back-color.chair-5 {
  opacity: 1;
  z-index: -1;
}
.back-color.chair-6 {
  background-image: linear-gradient(196deg, #aaadac, #838786);
  opacity: 0;
}
.for-color-6:checked ~ .back-color.chair-6 {
  opacity: 1;
  z-index: -1;
}

.img-wrap {
  width: 500px;
  height: 410px;
  position: absolute;
  top: 100px;
  left: 0;
  transition: all 550ms linear;
  transition-delay: 100ms;
  display: inline-block;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("./images/chair1.png");
  opacity: 0;
}

/* Change image and background based on colors */
.for-color-1:checked ~ .img-wrap.chair-1 {
  opacity: 1;
  animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.img-wrap.chair-2 {
  background-image: url("./images/chair2.png");
}
.for-color-2:checked ~ .img-wrap.chair-2 {
  opacity: 1;
  animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
.img-wrap.chair-3 {
  background-image: url("./images/chair3.png");
}
.for-color-3:checked ~ .img-wrap.chair-3 {
  opacity: 1;
  animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
.img-wrap.chair-4 {
  background-image: url("./images/chair4.png");
}
.for-color-4:checked ~ .img-wrap.chair-4 {
  opacity: 1;
  animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
.img-wrap.chair-5 {
  background-image: url("./images/chair5.png");
}
.for-color-5:checked ~ .img-wrap.chair-5 {
  opacity: 1;
  animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
.img-wrap.chair-6 {
  background-image: url("./images/chair6.png");
}
.for-color-6:checked ~ .img-wrap.chair-6 {
  opacity: 1;
  animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0) rotate(-1deg);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0) rotate(2deg);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-3px, 0, 0) rotate(-3deg);
  }
  40%,
  60% {
    transform: translate3d(3px, 0, 0) rotate(3deg);
  }
}

/* Color Btn */
.color-btn:checked + label,
.color-btn:not(:checked) + label {
  height: 40px;
  width: 40px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 12px 35px 0 rgba(16, 39, 112, 0.25);
  border: 3px solid transparent;
  background-position: center;
  background-size: cover;
  transition: all 200ms linear;
  cursor: pointer;
  margin-right: 10px;
  display: inline-block;
}
.color-btn:not(:checked) + label:hover {
  transform: scale(1.1);
}
.color-btn:checked + label {
  border-color: #434343;
  transform: scale(1.2);
}
label.color-1 {
  background-image: url("images/color1.jpg");
  margin-left: 500px;
}
label.color-2 {
  background-image: url("images/color2.jpg");
}
label.color-3 {
  background-image: url("images/color3.jpg");
}
label.color-4 {
  background-image: url("images/color4.jpg");
}
label.color-5 {
  background-image: url("images/color5.jpg");
}
label.color-6 {
  background-image: url("images/color6.jpg");
}

/* Add To Cart Button  */
.btn {
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  height: 48px;
  width: 210px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 4px;
  margin-top: 50px;
  text-decoration: none;
  background-color: #944852;
  transition: all 250ms linear;
  box-shadow: 0 6px 15px 0 rgba(16, 39, 112, 0.15);
  letter-spacing: 1px;
}
.btn:hover {
  box-shadow: 0 12px 35px 0 rgba(16, 39, 112, 0.25);
  background-color: #333;
}
.icon {
  padding-right: 7px;
  font-size: 20px;
}

/* MEDIA QUERIES */
@media (max-width: 991px) {
  .section {
    margin: 0 auto;
    max-width: calc(100% - 40px);
    text-align: center;
    width: 370px;
  }
  label.color-1 {
    margin-left: 0;
  }
  .info-wrap {
    margin-left: 0;
    width: 370px;
    margin-inline: auto;
  }
  .mob-margin {
    margin-top: 320px;
  }
  .img-wrap {
    width: 375px;
    height: 308px;
    left: 50%;
    margin-left: -190px;
  }

  .desc-btn:checked + label,
  .desc-btn:not(:checked) + label {
    margin-right: 15px;
    margin-left: 15px;
  }
  .color-btn:checked + label,
  .color-btn:not(:checked) + label {
    margin: 5px auto;
  }
  .section-inline {
    margin: 0 5px;
  }
}
@media (max-width: 575px) {
  .section {
    width: 280px;
  }
  .info-wrap {
    width: 280px;
  }

  .color-btn:checked + label,
  .color-btn:not(:checked) + label {
    height: 30px;
    width: 30px;
  }
  .section-inline p span {
    font-size: 24px;
  }
  .section-inline p {
    font-size: 14px;
  }
}